<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Practice">
    <test name="DemoWebShop">
        <classes>
            <class name="org.yandrut.DemoWebTesting">
                <methods>
                    <include name="allowsLoginUser"/>
                    <include name="allowsRegisterUser"/>
                    <include name="computerGroupHas3SubGroups"/>
                    <include name="allowsSortingItems"/>
                    <include name="allowsChangingNumberOfItemsOnPage"/>
                    <include name="allowsAddingItemsToWishlist"/>
                    <include name="allowsAddingItemsToCard"/>
                    <include name="allowsRemovingItemsFromCard"/>
                    <include name="allowsRemovingItemsFromCard"/>
                    <include name="allowsCheckoutItems"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>